* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post-separator {
  margin: 2rem 0;
}

/* POSTS */

.blog-post {
  position: relative;
}

.featured-img {
  width: 100%;
  height: auto;
  min-height: 75vh;
  object-fit: cover;
}

.post-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2rem;
  max-width: 600px;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, .3);
}

.post-content {
  margin: 1rem auto;
  max-width: 800px;
}

.post-content p {
  margin-bottom: 1rem;
  font-size: .9rem;
}

.post-content a {
  word-wrap: break-word;
  color: #AB1226;
}

.post-content h1 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* STYLES FOR WORDPRESS CLASSES */

.wp-block-code {
  background: #F2F2F2;
  padding: 1rem;
  margin: 1rem 0;
  text-wrap: wrap;
  word-wrap: break-word;
  font-size: .8rem;
}

.wp-block-image {
  margin: 1rem auto;
}

.wp-block-image img {
  width: 100%;
  height: auto;
}

.wp-block-list {
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 1rem;
}

.wp-block-list ul {
  margin-left: 1.5rem;
  margin-bottom: .25rem;
}

.wp-block-list li {
  margin-bottom: .25rem;
  font-size: .9rem;
}

.wp-block-gallery {
  display: flex;
  gap: .5rem;
}