* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post-separator {
  margin: 2rem 0;
}

/* POSTS */

.blog-post {
  position: relative;
}

.featured-img {
  width: 100%;
  height: auto;
  min-height: 75vh;
  object-fit: cover;
}

.post-title {
  position: absolute;
  top: 0;
  padding: 2rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, .3);
}

.post-content {
  margin: 1rem;
}

.post-content p {
  margin-bottom: 1rem;
  font-size: .9rem;
}

.post-content a {
  word-wrap: break-word;
  color: #AB1226;
}

/* STYLES FOR WORDPRESS CLASSES */

.wp-block-code {
  background: #F2F2F2;
  padding: 1rem;
  margin: 1rem 0;
  text-wrap: wrap;
  word-wrap: break-word;
  font-size: .8rem;
}