* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post-separator {
  margin: 2rem 0;
}

/* POSTS */

.blog-post {
  position: relative;
}

.featured-img {
  width: 100%;
  min-height: 50vh;
}

.post-title {
  position: absolute;
  top: 0;
  padding: 2rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, .3);
}